---
import getTags from "@utils/getTags";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { Languages } from "@interfaces/i18n";
import Footer from "@components/Footer.astro";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn"} },
    { params: { lang: "en" }, props: { lang: "en"} }
  ]
}

const allPosts = (await getCollection("blog")).map(page => {
  const [_, ...slug] = page.slug.split("/");
  return {
    meta: page.data,
    url: slug.join("/")
  }
});

const tags = getTags(allPosts);
const { lang } = Astro.props;
const pageTitle = "Tag Index";
---

<BaseLayout title={pageTitle} lang={lang}>
  <main>
    <div class="tags">
      {tags.map((tag) => (
        <div class="tag">
          <a href={`/${lang}/tags/${tag.toLowerCase()}`}>
            {tag.toUpperCase()}
          </a>
        </div>
      ))}
    </div>
  </main>
  <Footer />
</BaseLayout>

<style lang="less">
main {
  margin-top: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
}
.tag {
  margin: 0.25em;
  border-radius: 1rem;
  padding: 2px .8em;
  font-size: 1.15em;
  background-color: var(--stone-red-1);
  transition: .2s all;
  a {
    font-family: 'Crete Round', sans-serif;
    color: var(--stone-red-6);
    font-size: 1rem;
    text-decoration: none;
    transition: .5s all;
  }
  &:hover {
    background-color: var(--stone-red-6);
    a {
      color: white;
    }
  }
}
</style>
