---
import type { Languages } from "@interfaces/i18n";
import type { LanguageCollection } from "@interfaces/post";
import { parseCollection } from "@utils/languageCollection";
import PostLanguageLink from "./PostLanguageLink.astro";

export interface Props {
  collection: LanguageCollection;
  hightlightTag?: string;
}

const { collection, hightlightTag } = Astro.props;
const { lang } = Astro.params;

const data = parseCollection(collection, lang as Languages);

---

<div class="post-preview">
  { data.post.meta.tags?.length &&
    <div class="tags">
      { data.post.meta.tags?.map(tag => (
        <span class:list={
          ["tag", tag.toUpperCase() === hightlightTag?.toUpperCase() && "highlight"]
        }>
          <a href={`/${lang}/tags/${tag}`}> {tag.toUpperCase()} </a>
        </span>
      ))}
    </div>
  }
  <div style="display: flex; gap: 8px">
    <div class="title">
      <a href={`/${lang}/blog/${data.post.url}`}>
        { data.post.meta.title }
      </a>
    </div>
    <PostLanguageLink locale={lang || ""} languages={data.languages} />
  </div>
  <div class="date">{ new Date(data.post.meta.pubDate).toLocaleDateString(lang) }</div>
  { data.post.meta.description &&
    <div class="description"> { data.post.meta.description } </div>
  }
</div>

<style lang="less">
.post-preview {
  margin-top: 36px;
}
.title {
  font-family: 'Crete Round', sans-serif;
  font-size: 1.1rem;
  a {
    color: var(--stone-red-7);
    text-decoration: none;
  }
}
.tags {
  display: flex;
  font-size: .9rem;
  gap: 4px;
  .tag {
    padding: 2px 0;
    border-radius: 6px;
    transition: .3s all;
    font-family: 'Crete Round', sans-serif;
    a {
      color: #000000cc;
      text-decoration: none;
    }
    &:hover {
      background-color: var(--stone-green-1);
    }
  }
  .tag.highlight {
    background-color: var(--stone-green-1);
  }
}
.date {
  font-family: "IBM Plex Sans", sans-serif;
  opacity: .8;
  font-size: .9rem;
}
.description {
  margin-top: 6px;
}
</style>
